
.img-gallery-cols {
    margin: 0 0 8px;
}
.img-gallery-cols .col-2 {
    margin: 0 0 0px;
}
.img-gallery-cols .col-1 ,
.home .cols-pic-left .col-1{
    margin: 0 0 60px;
}
.cols-pic > div {
  margin-left: auto;
  margin-right: auto;
}

.cols-video iframe,
.cols-vimeo iframe{
  max-width : 560px;
  width     : 100%;
}

.cols-pics {
  display: flex;
  justify-content: space-between;
}

.cols-pics .col-1,
.cols-pics .col-2 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 48.38%;
}

.pt-large{
  padding-top: 70px;
}

.pt-medium{
  padding-top: 35px;
}
.cols-pics3 .col-1,
.cols-pics3 .col-2{
	margin:0 0 35px;
}
.pb-large{
  padding-bottom: 70px;
}

.pt-medium{
  padding-bottom: 35px;
}
  .cols figure img {
 margin:0 auto;
    
}

.cols.hide{
display:none;
}
@media screen and (min-width: 980px){
.cols,
.col-1,
.col-2,
.col-3 {
  margin: 0 0 1em;
}

  .cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 35px;
	position:relative;
  }
  .cols.heading-middle {
    align-items: center;
	margin: 0 0 170px;
}
.cols.fullwidth {
  
	margin: 0 0 140px;
	    position: relative;
}
  .cols-picfull{
    display: block;
  }

  .cols-txt + .tool,
  .cols-txt2 + .tool {
    margin-top: -35px;
  }

  .cols > div {
    min-width: 0;
  }
  
  .cols-code,
  .cols-txt {
    display: block;
  }
  
  .cols-video,
  .cols-vimeo{
    display: block;
    text-align: center;
  }

  .col-1,
  .col-2 {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 48.38%;
  }

  .cols-pic-right .col-1,
  .cols-pic-left .col-2{
    margin-top: -.3em;
  }
.img-gallery-cols .col-1 {
    margin: 0 0 0px;
}
  .cols-pics3 .col-1,
  .cols-pics3 .col-2,
  .cols-pics3 .col-3 {
    margin: 0;
    width: 32%;
  }

  .cols-smallpic-left .col-1,
  .cols-smallpic-right .col-2{
    width: 32%;
  }

  .cols-smallpic-left .col-2,
  .cols-smallpic-right .col-1{
    width: 65%;
  }
  
.cols-pics3 .col-1,
.cols-pics3 .col-2{
	margin:0 0 0px;
}

}

/*
 * Basic price table
 */
 
table.prices {
  margin: 0 0 35px;
  width: 100%;
}

table.prices th,
table.prices td {
  border: 1px solid #aea5a0;
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
}

table.prices th:first-child,
table.prices td:first-child {
  border-left: 0;
  padding-left: 0;
  text-align: left;
}

table.prices th:last-child,
table.prices td:last-child {
  border-right: 0;
}

table.prices th {
  border-top: 0;
  font-weight: normal;
  vertical-align: top;
  width: 23%;
}

table.prices th.empty {
  font-size: 1.3rem;
  text-align: left;
  width: 31%;
}

table.prices th strong {
  color: #931916;
  font-size: 1.8rem;
  font-weight: normal;
}

table.prices td {
  font-size: 1.8rem;
}

table.prices td:first-child {
  font-size: 1.5rem;
}

table.prices td .kat {
  font-size: 20px;
  font-size: 2rem;
}

table.prices td:first-child strong {
  color: #931916;
  display: block;
  font-weight: normal;
}

table.prices a.button {
  border-radius: 2px;
  font-size: 1.5rem;
  margin: 10px 10px 0 0;
  padding: 3px 10px;
}

table.prices a.button-detail {
  background: #584b41;
}

table.prices a.button-detail:hover,
table.prices a.button-detail:focus {
  background: #333;
}

@media screen and (min-width: 1000px){
.cols.heading-middle {
    align-items: center;
    margin: 0 0 100px;
}
}
@media screen and (max-width: 520px){

  table.prices,
  table.prices thead,
  table.prices tr,
  table.prices th,
  table.prices tbody,
  table.prices td{
    border-left : 0;
    border-right: 0;
    border-top: 0;
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
  
  table.prices td[title]:before{
    content: attr(title);
    display: block;
    font-size: 1.3rem;
  }
  
  table.prices td .kat{
    font-size: 2rem;
  }
  .cols-pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cols-pics .col-1, .cols-pics .col-2 {
    display: block;
    margin: 0;
    vertical-align: top;
    width: 100%;
}
  .cols-pics3 .col-1, .cols-pics3 .col-2,
  .cols-pics .col-1, .cols-pics .col-2  {
    margin: 0 0 8px;
}
  
}

.detailnavi{
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px;
  padding: 0 0 20px;
  text-align: center;
}
  
.detailnavi-item{
  display: inline-block;
}

.detailnavi-item.overview{
  margin: 0 10px;
}

.map-map{
  height: 400px;
  margin: 0 0 35px;
  width: 100%;
}
