.text-ssl {
  font-size: 1.4rem;
  color: #a0a0a0;
  margin-bottom: 3em;
}

.help-block {
  display: none;
}

label,
p.label {
  display: block;
  font-size: 1.4rem;
  padding: 10px 0 3px;
}

input,
textarea,
select {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: #333;
  -webkit-transition: border .8s, background .8s, color .8s;
  transition: border .8s, background .8s, color .8s;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #FFF;
  border-color: #b2b2b2;
}

textarea {
  height: 120px;
  padding: 5px 10px;
  width: 100%;
  -webkit-appearance: none;
}

input {
  margin: 1px 0;
  padding: 10px;
  width: 100%;
}

input[type="date"] {
  min-height: 38px;
}

input[type="date"],
input[type="text"] {
  -webkit-appearance: none;
}

select {
  margin: 1px 0;
  padding: 9px 10px;
  width: 100%;
  /*font-size: 0.89em;*/
}

.contactform,
.kontakt .heading,
.impressum .heading,
.impressum .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.contactform .buttons {
  text-align: right;
}

.contactform hr {
  border: 1px solid #a0a0a0;
  border-width: 1px 0 0 0;
  margin: 0 0 2em 0;
}

.contactform-ta {
  width: 100%;
}

.contactform-cb {
  float: none;
  padding: 10px 0 0;
}

.contactform-cb label {
  display: block;
  font-size: 1.6rem;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
}

.contactform-cb input {
  background: none;
  border: 0;
  float: left;
  margin: 8px 6px 0 0;
  vertical-align: middle;
  width: auto;
}

.contactform-rb label {
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

.contactform-rb input {
  background: none;
  border: 0;
  display: inline-block;
  margin: 0 2px 0 0;
  vertical-align: middle;
  width: auto;
}

.contactform-sl > div {
  display: inline-block;
  margin-right: 25px;
}

#kkemail {
  display: none !important;
}

.optional-data {
  margin-bottom: 1.5em;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 2s;
          transition: all 2s;
}

.optional-button {
  background-color: #625f5a;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 10px;
  vertical-align: middle;
}

.optional-button:after {
  border: 3px solid #FFF;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  content: '\00a0';
  display: inline-block;
  height: 6px;
  margin-left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: sub;
  width: 6px;
}

#see-optional {
  display: none;
}

#see-optional:checked + label {
  display: none;
}

#see-optional:checked + label + .optional-data {
  max-height: 500px;
}

.contactform .cols {
  margin-bottom: 15px;
}

.cols-form {
  margin-bottom: 15px;
}

.cols-form > div {
  position: relative;
}

.cols-form > div:before,
.cols-form > div:after {
  content: '\00a0';
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .8s;
          transition: opacity .8s;
}

.has-error {
  position: relative;
}

.has-error input,
.has-error textarea {
  border: 1px solid #cf4646;
}

.has-error:before,
.has-error:after {
  background-color: #cf4646;
  border-radius: 2px;
  bottom: 14px;
  content: '\00a0';
  height: 14px;
  opacity: 1 !important;
  pointer-events: none;
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 3px;
}

.has-error:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.has-success {
  position: relative;
}

.has-success input,
.has-success textarea {
  border: 1px solid #86a145;
}

.has-success:after {
  border-style: solid;
  border-color: #86a145;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  bottom: 15px;
  content: '\00a0';
  height: 12px;
  opacity: 1 !important;
  pointer-events: none;
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
}

.error {
  color: #d80000;
  font-weight: bold;
}

.success {
  background: #006600;
  color: #fff;
  font-size: 1.6rem;
  margin: 20px 0 0;
  padding: 20px;
  text-align: center;
}

button:not([class^=mfp]):not([class^=pswp__button]),
a.button,
.rednews2-articles-readmore a {
  background: #993415;

  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing:2px;
  line-height: 1;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: none;
  transition: background .2s linear;
}

button:not([class^=mfp]):not([class^=pswp__button]):hover,
a.button:hover,
button:not([class^=mfp]):not([class^=pswp__button]):focus,
a.button:focus,
.rednews2-articles-readmore a:hover {
  background: #902c0e;
  color: #fff;
}


.picker__box {
  background: #22292f;
  font-family: Verdana, Geneva, sans-serif;
  border-radius: 0;
  border-color: #22292f;
  padding: 0;
}

.picker__header {
  background: #202328;
  margin: 0;
  padding: 25px 0;
  width: 100%;
}

.picker__month {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.picker__year {
  color: #c8c8c8;
  font-size: 2.4rem;
  font-style: normal;
}

.picker__nav--prev,
.picker__nav--next {
  background: url(../images/pickadate/prev.png);
  height: 35px;
  left: 40px;
  margin: -17.5px 0 0;
  padding: 0;
  top: 50%;
  transition: opacity .3s linear;
  width: 20px;
}

.picker__nav--next {
  background: url(../images/pickadate/next.png);
  left: auto;
  right: 40px;
}

.picker__nav--next:hover {
  background: url(../images/pickadate/next.png);
  opacity: .6;
}

.picker__nav--prev:hover {
  background: url(../images/pickadate/prev.png);
  opacity: .6;
}

.picker__nav--prev:before,
.picker__nav--next:before {
  border: none;
}

.picker__table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.picker__weekday {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
  background: #22292f !important;
  border-color: #22292f !important;
  color: #636466 !important;
}

.picker__day {
  border-radius: 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2px auto;
  width: 35px;
}

.picker__day--today:before {
  border: none;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background: #b3b3b3;
  border-color: #b3b3b3;
  color: #292d32;
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  background: #22babf;
  border-color: #22babf;
  color: #fff;
}

.picker__day--outfocus {
  color: #636466;
}

.picker__footer {
  border-top: 1px solid #202328;
}

.picker__footer button {
  background: #22292F;
  border-color: #22292F;
  color: #8a8a8a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.picker__footer button:hover {
  background: #000;
  border-color: #000;
  color: #8a8a8a;
}

.picker__footer .picker__button--clear {
  display: none;
}

.picker__button--today:before {
  background: #b3b3b3;
  border-color: #b3b3b3;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
}

.picker__button--close:before {
  background: url(../images/pickadate/cancel.png);
  content: '';
  height: 14px;
  top: 4px;
  width: 14px;
}

.picker__button--today[disabled] {
  background-color: transparent;
  border-color: transparent;
}
.picker__button--today[disabled]:hover {
  background: #000;
  border-color: #000;
}

/* Icons */
.contact-lock {
  color: #c8c8c8;
  display: inline-block;
  margin-right: -15px;
  position: relative;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: left 20%;
          transform-origin: left 20%;
  vertical-align: middle;
  width: 32px;
}

.contact-lock:before {
  border: 3px solid;
  border-radius: 10px;
  content: '\00a0';
  display: block;
  height: 18px;
  margin: 0 auto;
  position: relative;
  width: 20px;
}

.contact-lock:after {
  background: #c8c8c8;
  border-radius: 6px;
  content: '\00a0';
  display: block;
  height: 24px;
  margin: -10px auto;
  position: relative;
}

.contact-lock .keyhole {
  left: 50%;
  position: absolute;
  top: 15px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  z-index: 1;
}

.contact-lock .keyhole:before {
  background: #FFF;
  border-radius: 50%;
  content: '\00a0';
  display: block;
  height: 8px;
  margin: .3em auto 0;
  position: relative;
  width: 8px;
}

.contact-lock .keyhole:after {
  background: #FFF;
  border-radius: 0;
  content: '\00a0';
  display: block;
  height: 8px;
  margin: -0.1em auto 0;
  position: relative;
  width: 4px;
}

.contact-calendar {
  border-radius: 4px;
  border-style: solid;
  border-width: 4px 2px 2px;
  bottom: 0;
  box-sizing: border-box;
  color: #767676;
  direction: ltr;
  font-style: normal;
  height: 28px;
  margin: 5px 1px 1px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  text-align: left;
  text-indent: -9999px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 32px;
}

.contact-calendar:before,
.contact-calendar:after {
  content: '\00a0';
  pointer-events: none;
  position: absolute;
  width: 4px;
}

.contact-calendar:before {
  box-shadow: inset 0 0 0 32px,6px 0,12px 0,18px 0,0 6px,6px 6px,12px 6px,18px 6px,0 12px,6px 12px,12px 12px,18px 12px;
  height: 4px;
  left: 3px;
  top: 3px;
}

.contact-calendar:after {
  border-radius: 4px;
  box-shadow: inset 0 0 0 32px,16px 0;
  height: 8px;
  left: 4px;
  top: -8px;
}

input:focus + .calendar {
  color: #333;
}
.check-mand .has-error label {
    color: #cf4646;
}
.check-mand .has-error:before, .check-mand .has-error:after {
   display:none;
}

#zahlart_2-field {
    display:none;
}

@media screen and (min-width: 980px){
button:not([class^=mfp]):not([class^=pswp__button]),
a.button,
.rednews2-articles-readmore a {

  padding: 15px 20px;

}
}
