html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  margin: 5px 0 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a.skiplink {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  font-size: 1.4rem;
  position: absolute !important;
}

a.skiplink:active,
a.skiplink:focus {
  clip: auto;
  position: static !important;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.anchor-wrapper {
  position: relative;
}

.anchor {
  position: absolute;
  margin-top: -110px;
}

.sprite,
.sprite-before:before,
.sprite-after:after,
.navi .ul-wrap > ul > li > a:before ,
.rednews2-articles-readmore a:after{
  background: url(/images/sprites.png) no-repeat 9999px 0;
  content: '\00a0';
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){  
  .sprite,
  .sprite-before:before,
  .sprite-after:after,
  .flex-direction-nav a,
  .navi .ul-wrap > ul > li > a:before,
  .rednews2-articles-readmore a:after {
    background-image: url(/images/sprites-r.png);
    background-size: 630px 395px;
  }
  
}

a[data-lightbox="true"]{
  display: block;
  position: relative;
}

a[data-lightbox="true"]:before{
  bottom: 5px;right: 10px;
  color: #fff;
  content: '+';
  font-size: 3rem;
  line-height: 1;
  opacity: 0;
  position: absolute;
  transition: opacity .4s .4s;
  z-index: 1;
}

a[data-lightbox="true"]:hover:before,
a[data-lightbox="true"]:focus:before{
  opacity: 1;
}

a[data-lightbox="true"]:after{
  background: rgba(0,0,0,.3);bottom: 100%;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: 0;
  transition: all .4s;
}

a[data-lightbox="true"]:hover:after,
a[data-lightbox="true"]:focus:after{
  bottom: 0;
  right: 0;
}