html, body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    color: #616161;
    font-family: 'Barlow', Arial, sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    padding: 0 0 45px;
}

.caveat-font {
    font-family: 'Caveat Brush', Georgia, serif;
}

.barlow-font {
    font-family: 'Barlow', Arial, sans-serif;
}

.txt-bld {
    font-weight: bold;
}

.txt-captial {
    text-transform: uppercase;
}

body.accept-cookies {
    padding: 0;
}

body, input, select, textarea, a {
    color: #616161;
}

a:hover, a:focus {
    color: #111;
    text-decoration: none;
}

.body-wrapper {
    width: 96%;
    display: block;
    /* padding: 40px; */
    margin: 0 auto;
    padding: 0 0 12px;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-size: 5.2rem;
    margin: 0 0 15px;
    font-family: 'Caveat Brush', Georgia, serif;
    color: #993415;
    font-weight: normal;
    letter-spacing: -3px;
    line-height: .9;
}

h2, .linkmanagement-category-title {
    font-size: 1.8rem;
    margin: 0 0 .5em;
    color: #616161;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.4;
    padding: 30px 0 0;
}

h3 {
    font-size: 2rem;
    margin: 0 0 .5em;
}

*+h2, *+h3 {
    padding: 1em 0 0;
}

p, li {
    line-height: 1.5;
}

p {
    margin: 0 0 1em;
}

table {
    margin: 0 0 1em;
	text-align: left;
}

td {
    padding: 0 20px 4px 0;
    vertical-align: top;
}

/*
 * Header
 */

.header-wrapper {
    background: #fff;
    left: 0;
    min-height: 8rem;
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
    width: 96%;
    margin: 0 auto;
}

.scrolled .header-wrapper {
    webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, .25);
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, .25);
    width: 100%;
}

.header {
    margin: 0 auto;
    position: relative;
}

a.header-onlinebtn {
    display: inline-block;
    width: 90px;
    height: 50px;
    background: #993415;
    position: absolute;
    right: 55px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}

a.header-onlinebtn {
    bottom: 0;
}

/*.touchevents span.txt-wrap {
	display:none;
}
.touchevents a.header-onlinebtn:before {
    background-position: -160px -16px;
    width: 25px;
    height: 18px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -12.5px;
    padding: 0;
    top: 50%;
    margin-top: -9px;
}*/

/*
 * Slider
 */

.flexslider {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 8rem auto 0;
    max-width: 1920px;
    overflow: hidden;
}

.flexslider img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.flex-direction-nav a {
    height: 60px;
    margin: -30px 0 0;
    opacity: .5;
    text-shadow: none;
}

.flex-direction-nav a:before {
    font-size: 60px;
    line-height: 1;
    text-shadow: none;
}

.flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .flex-prev {
    left: 50px;
}

.flex-direction-nav .flex-next, .flexslider:hover .flex-direction-nav .flex-next {
    right: 50px;
}

.tool-changer .slides img {
    cursor: pointer;
}

.flexslider .slides img.big {
    display: none;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    z-index: 5;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
    z-index: 20;
}

.flex-control-paging li a {
    cursor: default;
    border: 2px solid #c1c1c1;
    background: 0 0;
    cursor: pointer;
}

.flex-control-paging li a.flex-active {
    cursor: default;
    border: 2px solid #993415;
    background: 0 0;
}

.flexslider-pinsel {
    content: '';
    background: url(/images/mobile/pinsel/pinsel-weiss-changer-980.png) no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -45px;
    z-index: 8;
    height: 89px;
}

.flexslider-extras {
    position: absolute;
    right: 25px;
    bottom: 37%;
    color: #fff;
    z-index: 8;
    width: 310px
}

.flexslider-heading {
    font-size: 4.6rem;
    line-height: 1;
    text-align: right;
}

.flexslider-text {
    padding: 12px 10px;
    background: #25373e;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.flexslider-text {
    display: none;
}

.flexslider-extras .button {
    position: absolute;
    right: 20px;
    bottom: -63px;
    padding: 17px 10px;
    font-size: 1.6rem;
}

/*
 * Content
 */

.content-wrapper {
    background: #fff;
    position: relative;
    z-index: 20;
}

/*
 * Main content
 */

.content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 0;
    width: 100%;
    text-align: center;
}

.touchevents .content {
    padding: 40px 0 70px;
}

.touchevents .home .content {
    padding: 40px 0 0px;
}

span.barlow-font.txt2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*
 * Sidebar
 */

.sidebar {}

/*
 * Footer
 */

.footer-wrapper {
    background: #25373e;
    padding: 70px 0 130px;
    position: relative;
    z-index: 40;
}

.footer-wrapper:after {
    content: '';
    background: url(/images/mobile/pinsel/pinsel-weiss-footer-980.jpg) no-repeat -15px;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 31px;
    position: absolute;
}

.footer {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    display: block;
}

.footer-box {
    padding: 0 0px;
}

.footer-box:not(:first-child) {
    border: 0;
    border-width: 0px 0 0;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #929b9f;
}

.footer-box, .footer-box a {
    color: #fff;
}

html.touchevents.js .footer-box-heading {
    cursor: pointer;
}

html.touchevents.js .footer-box-content {
    display: block;
}

.contents {
    text-align: center;
}

.footer-box-content-3.contents {
    padding: 30px 0;
}

.footer-box-heading {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 .3em;
    text-transform: uppercase;
}

.footer-box-address {
    margin: 0 0 10px;
}

.footer-box-phone {
    font-size: 2rem;
    margin: 0 0 20px;
}

.footer-box a.button {
    color: #fff;
    padding: 23px 17px;
}

.footer-box-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-box-list-item {
    margin: 0 0 .5em;
    font-size: 1.5rem;
}

.footer-box-list-item:last-child {
    margin: 0 0;
}

.footer-box-list-item:before {
    content: '| ';
}

a.footer-logo {
    display: block;
    position: relative;
    width: 238px;
    height: 68px;
    margin: 0 auto 30px;
}

.footer-box-contact .button {
    padding: 15px 20px;
}

.musikschulwerk-icon {
    background-position: -160px -99px;
    width: 92px;
    height: 63px;
    position: absolute;
    right: 0;
    top: 55px;
    right: auto;
    left: 85px;
    z-index: 50;
}

.kleinwalsertal-icon {
    background-position: 0 -99px;
    width: 55px;
    height: 63px;
    position: absolute;
    right: 0;
    top: 55px;
    right: auto;
    left: 20px;
    z-index: 50;
}

.extra-footericon-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

/*
 * Copyright
 */

.copyright-wrapper {
    background: #fff;
    padding: 10px 0;
    padding: 0;
    position: relative;
}

.copyright {
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 1240px;
    width: 94%;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 40;
    color: #fff;
}

.copyright-ww {
    margin: 1em 0 0;
}

.copyright-ww .desk {
    display: none;
}

.copyright-ww .werbewind-icon {
    background-position: -222px 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0px 0 7px;
}

.copyright-ww a {
    color: #fff;
}

.button.btn-arrow, button.btn-arrow:not([class^=mfp]):not([class^=pswp__button]) {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;
    border: 0;
}

.button.btn-arrow:after, button.btn-arrow:not([class^=mfp]):not([class^=pswp__button]):after {
    background-position: 0 0;
    width: 83px;
    height: 20px;
    position: relative;
    top: 50%;
    right: 0;
    display: inline-block;
    margin: 0 0 0 15px;
}

.fullwidth {
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    padding: 0;
}

.bildgallery-btn {
    background: #a3482c;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 50px 20px;
    margin: 0 0 8px;
    font-weight: 900;
    font-size: 1.6rem;
    position: relative;
}

.no-touchevents .bildgallery-btn {
    display: none;
}

.bildgallery-btn:after {
    background-position: -160px 0;
    width: 60px;
    height: 14px;
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

span.mob-galleryicon {
    background-position: -160px -36px;
    width: 61px;
    height: 48px;
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -24px;
    right: 16%;
}

figcaption {
  
	display:none;
}
.page-4170  figcaption {
  
	display:block;
	text-align: center;
}

@media screen and (min-width: 450px) {
    .flexslider .slides img.small {
        display: none;
    }
    .flexslider .slides img.big {
        display: block;
    }
}

@media screen and (min-width: 980px) {
    .body-wrapper {
        width: 100%;
        display: block;
        padding: 20px;
        margin: 0 auto;
    }
    h1 {
        font-size: 5rem;
        line-height: 1;
    }
    h2, .linkmanagement-category-title {
        font-size: 1.9rem;
        padding: 0;
    }
    .header-wrapper {
        min-height: 8rem;
        transition: min-height .4s;
        top: 20px;
        right: 20px;
        left: 20px;
        width: auto;
        z-index: 60;
    }
    .scrolled .header-wrapper {
        min-height: 6.4rem;
        top: 0;
        right: 0;
        left: 0;
    }
    .header {
        width: 100%;
    }
    a.header-onlinebtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px 0;
        width: 120px;
        height: 80px;
        right: 85px;
        bottom: auto;
    }
    /*a.header-onlinebtn:before {
      display:none;
}*/
    .scrolled a.header-onlinebtn {
        /*width: 80px;*/
        height: 80px;
        right: 95px;
    }
    /*.scrolled a.header-onlinebtn:before {
    background-position: -160px -16px;
    width: 25px;
    height: 18px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -12.5px;
    padding: 0;
    top: 50%;
    margin-top: -9px;
}*/
    /*.scrolled  a.header-onlinebtn .txt-wrap{
	display:none;
}*/
    a.header-onlinebtn .txt1 {
        font-size: 3rem;
    }
    a.header-onlinebtn .txt2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
    }
    a.header-onlinebtn:hover, a.header-onlinebtn:focus {
        background: #902c0e;
    }
    .flexslider {
        margin: 8rem auto 0;
    }
    .flex-control-nav {
        bottom: 90px;
    }
    .flexslider-extras {
        position: absolute;
        right: 20%;
        bottom: 34%;
        color: #fff;
        z-index: 8;
        width: auto;
    }
    .flexslider-pinsel {
        content: '';
        background: url(/images/pinsel/pinsel-weiss-changer.png);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -45px;
        z-index: 8;
        height: 165px;
    }
    .flexslider-heading {
        font-size: 6rem;
        line-height: 1.4;
        text-align: right;
    }
    .flexslider-text {
        padding: 12px 10px;
        background: #25373e;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
        display: block;
    }
    .content {
        padding: 140px 0;
        text-align: left;
    }
    .footer-wrapper {
        background: #25373e;
        padding: 90px 0 140px;
        position: relative;
    }
    .footer-wrapper:after {
        display: none;
    }
    .footer-wrapper:before {
        content: '';
        background: url(/images/pinsel/pinsel-blau-footer.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50px;
        bottom: 0;
    }
    .fullwidth {
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        padding: 0 25px;
    }
    .button.btn-arrow, .rednews2-articles-readmore a {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;
        position: relative;
    }
    .button.btn-arrow, button.btn-arrow:not([class^=mfp]):not([class^=pswp__button]) {
        font-size: 1.8rem;
    }
    .button.btn-arrow:after, .rednews2-articles-readmore a:after {
        background-position: 0 0;
        width: 83px;
        height: 20px;
        position: relative;
        top: 50%;
        right: 0;
        display: inline-block;
        margin: 0 0 0 15px;
    }
    .flexslider-extras .button {
        padding: 17px 20px;
        position: absolute;
        right: -20px;
        bottom: -34px;
    }
}

@media screen and (min-width: 1000px) {
    .touchevents .home .content {
        padding: 100px 0;
    }
    .flexslider-extras .button {
        padding: 17px 20px;
        position: absolute;
        right: -20px;
        bottom: -43px;
    }
    .bildgallery-btn {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .body-wrapper {
        width: 100%;
        display: block;
        padding: 35px 35px 0px;
        margin: 0 auto;
    }
    h1 {
        font-size: 6.5rem;
    }
    .heading-middle h1 {
        font-size: 8.5rem;
        max-width: 550px;
        margin: 0 auto;
    }
    h2 {
        font-size: 1.9rem;
    }
    .header-wrapper {
        min-height: 8.4rem;
        top: 35px;
        right: 35px;
        left: 35px;
        width: auto;
        z-index: 50;
    }
    .scrolled .header-wrapper {
        min-height: 10rem;
        top: 0;
        right: 0;
        left: 0;
    }
    .header {
        width: 100%;
    }
    a.header-onlinebtn {
        padding: 35px 0;
        width: 120px;
        height: 120px;
        right: 135px;
        bottom: auto;
    }
    /*a.header-onlinebtn:before {
      display:none;
}*/
    .scrolled a.header-onlinebtn {
        /*width: 80px;*/
        height: 100px;
		width:100px;
        right: 110px;
    }
    /*.scrolled a.header-onlinebtn:before {
    background-position: -160px -16px;
    width: 25px;
    height: 18px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -12.5px;
    padding: 0;
    top: 50%;
    margin-top: -9px;
}*/
    /*.scrolled  a.header-onlinebtn .txt-wrap{
	display:none;
}*/
    a.header-onlinebtn .txt1 {
        font-size: 3rem;
    }
    a.header-onlinebtn .txt2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
    }
    a.header-onlinebtn:hover, a.header-onlinebtn:focus {
        background: #902c0e;
    }
    .flexslider {
        margin: 12rem auto 0;
    }
    .flex-control-nav {
        bottom: 20%;
        z-index: 20;
    }
    .flexslider-pinsel {
        content: '';
        background: url(/images/pinsel/pinsel-weiss-changer.png);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -45px;
        z-index: 8;
        height: 228px;
    }
    .flexslider-heading {
        font-size: 12rem;
        line-height: 1.4;
        text-align: right;
    }
    .flexslider-text {
        padding: 12px 10px;
        background: #25373e;
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: bold;
        display: inline-block;
        float: right;
    }
    .flexslider-extras .button {
        position: absolute;
        right: -30px;
        bottom: -63px;
        padding: 25px 20px;
    }
    .content {
        padding: 170px 0 140px;
        text-align: left;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1440px;
        width: 94%;
        align-items: flex-end;
    }
    .footer-box:first-child {
        padding-left: 0;
        width: 80%;
    }
    .footer-box {
        display: inline-block;
        width: 20%;
    }
    .footer-box:not(:first-child) {
        border: 0;
        margin-top: 0;
        padding-top: 0;
    }
    .footer-box:first-child {
        padding-left: 0;
        width: 80%;
    }
    .footer-box:first-child .footer-box-content {
        display: flex;
        align-items: flex-end;
    }
    .footer-box:first-child .footer-box-content .contents {
        padding: 0 25px;
        border-left: 0px solid #929b9f;
    }
    .footer-box:first-child .footer-box-content .contents:first-child {
        padding: 0 25px 0 0px;
    }
    .footer-box:last-child {
        padding-right: 0;
        text-align: right;
    }
    .footer-box:last-child .footer-box-content {
        display: inline-block;
        text-align: left;
    }
    .footer-box:first-child .footer-box-content .contents:first-child, .footer-box:first-child .footer-box-content .contents:last-child {
        border-left: 0;
    }
    html.touchevents.js .footer-box-heading {
        cursor: default;
    }
    html.touchevents.js .footer-box-content {
        display: block;
    }
    a.footer-logo {
        background: url(/images/logo-footer.png) no-repeat;
        background-size: 100% auto;
        width: 238px;
        height: 68px;
        margin: 0 auto;
    }
    /*.kleinwalsertal-icon {
    background-position: 0 -99px;
    width: 55px;
    height: 63px;
    position: absolute;
    right: 175px;
    top: 137px;
    left: auto;
}*/
    .extra-footericon-wrap {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
    .copyright-wrapper {
        background: #fff;
        padding: 10px 0;
    }
    .copyright {
        font-size: 1.3rem;
        margin: 0 auto;
        max-width: 1240px;
        width: 94%;
    }
    .copyright {
        font-size: 1.3rem;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .copyright-ww {
        float: none;
        margin: 0;
        text-transform: uppercase;
    }
    .footer-wrapper {
        background: #25373e;
        padding: 90px 0 230px;
        position: relative;
    }
    .footer-wrapper:after {
        display: none;
    }
    .footer-wrapper:before {
        content: '';
        background: url(/images/pinsel/pinsel-blau-footer.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 121px;
        bottom: 0;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1440px;
        width: 94%;
        align-items: flex-end;
    }
    .footer-box:first-child {
        padding-left: 0;
        width: 80%;
    }
    .footer-box {
        display: inline-block;
        width: 20%;
    }
    .footer-box:not(:first-child) {
        border-width: 0 0 0 1px;
        margin-top: 0;
        padding-top: 0;
    }
    .footer-box:first-child {
        padding-left: 0;
        width: 80%;
    }
    .footer-box a.button {
        color: #fff;
        padding: 23px 20px;
    }
    .contents {
        text-align: left;
    }
    .footer-box:first-child .footer-box-content .contents {
        padding: 0 25px;
        border-left: 1px solid #929b9f;
    }
    .footer-box:first-child .footer-box-content .contents:first-child {
        padding: 0 25px 0 0px;
    }
    .footer-box:last-child {
        padding-right: 0;
        text-align: right;
    }
    .footer-box:last-child .footer-box-content {
        display: inline-block;
        text-align: left;
    }
    .footer-box:first-child .footer-box-content .contents:first-child, .footer-box:first-child .footer-box-content .contents:last-child {
        border-left: 0;
    }
    .footer-box-list-item {
        font-size: 1.7rem;
    }
    html.touchevents.js .footer-box-heading {
        cursor: default;
    }
    html.touchevents.js .footer-box-content {
        display: block;
    }
    a.footer-logo {
        background: url(/images/logo-footer.png) no-repeat;
        background-size: 100% auto;
        width: 238px;
        height: 68px;
        margin: 0;
    }
    .musikschulwerk-icon {
        right: 55px;
        top: 120px;
        left: auto;
    }
    .kleinwalsertal-icon {
        background-position: 0 -99px;
        width: 55px;
        height: 63px;
        position: absolute;
        right: 0;
        top: 120px;
        left: auto;
    }
    .extra-footericon-wrap {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
    .copyright {
        font-size: 1.3rem;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        position: relative;
        top: 0;
        color: #616161;
        right: auzo;
        text-align: left;
    }
    .copyright-ww {
        float: none;
        margin: 0;
        text-transform: uppercase;
    }
    .copyright-ww .desk {
        display: inline-block;
    }
    .copyright-ww a {
        color: #616161;
    }
    .fullwidth {
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        padding: 0 45px;
    }
    .button.btn-arrow {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;
    }
    .button.btn-arrow:after {
        background-position: 0 0;
        width: 83px;
        height: 20px;
        position: relative;
        top: 50%;
        right: 0;
        display: inline-block;
        margin: 0 0 0 15px;
    }
    .fullwidth {
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        padding: 0 38px;
    }
    a.home-bildgallery {
        /* float: right; */
        position: absolute;
        right: -230px;
        background: #a3482c;
        top: 0;
        bottom: 0;
        width: 220px;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    a.home-bildgallery {
        /* float: right; */
        position: absolute;
        right: -230px;
        background: #a3482c;
        top: 0;
        bottom: 0;
        width: 220px;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    a.home-bildgallery:hover {
        background: #983f24;
    }
    span.gallerytext-wrap {
        position: absolute;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        top: 50%;
        margin-top: -57.5px;
    }
    span.bildgallery-icon {
        background-position: 0 -22px;
        width: 96px;
        height: 75px;
        position: relative;
        display: block;
        margin: o auto;
        margin: 0 auto 10px;
    }
    .gallery-text {
        font-weight: 900;
        font-size: 1.9rem;
        letter-spacing: 2px;
    }
    .gallery-pinsel {
        background: url(/images/pinsel/pinsel-blau-content01.png) no-repeat;
        position: absolute;
        bottom: -120px;
        right: 0;
        width: 100%;
        height: 190px;
    }
}



@media screen and (max-width: 480px) {
    body {
        padding: 0 0 95px;
    }
}
@media screen and (max-width: 640px) {
    ul {
        text-align:left;
    }
}

@media screen and (max-width: 1500px) {}

@media screen and (min-width: 1150px) and (max-width: 1500px) {
    .footer {
        font-size: 1.4rem;
    }
    .footer-box:first-child {
        padding-left: 0;
        width: 90%;
    }
    .footer-box {
        display: inline-block;
        width: 12%;
    }
    .footer-box-list-item {
        font-size: 1.4rem;
    }
    .footer-box a.button {
        color: #fff;
        padding: 23px 20px;
        font-size: 1.6rem;
    }
    a.home-bildgallery {
        display: none;
    }
}

hr {
    border: 1px solid #a0a0a0;
    border-width: 1px 0 0 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    a.footer-logo {
        background: url(/images/logo-footer-r.png) no-repeat;
        background-size: 100% auto;
    }
    .button.btn-arrow:after, button.btn-arrow:not([class^=mfp]):not([class^=pswp__button]):after {
        background-position: -160px 0;
        width: 60px;
        height: 14px;
    }
}

/*
 * Full width element in fixed width container
 */

/* barlow-regular - latin */

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/barlow-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Regular'), local('Barlow-Regular'), url('/fonts/barlow-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/barlow-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/barlow-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/barlow-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/barlow-v2-latin-regular.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-500 - latin */

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/barlow-v2-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Medium'), local('Barlow-Medium'), url('/fonts/barlow-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/barlow-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/barlow-v2-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/barlow-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/barlow-v2-latin-500.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-700 - latin */

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/barlow-v2-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Bold'), local('Barlow-Bold'), url('/fonts/barlow-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/barlow-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/barlow-v2-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/barlow-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/barlow-v2-latin-700.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-900 - latin */

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/barlow-v2-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Black'), local('Barlow-Black'), url('/fonts/barlow-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/barlow-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/barlow-v2-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/barlow-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/barlow-v2-latin-900.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* caveat-brush-regular - latin */

@font-face {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/caveat-brush-v3-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Caveat Brush'), local('CaveatBrush-Regular'), url('/fonts/caveat-brush-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/caveat-brush-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/caveat-brush-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/caveat-brush-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/caveat-brush-v3-latin-regular.svg#CaveatBrush') format('svg');
    /* Legacy iOS */
}
