/*
 * Navi icon (hamburger)
 */
 

.navi-icon-wrap {
    position: absolute;
    background: #233237;
    width: 50px;
    height: 50px;
    right: 0;
	bottom:0;
    float: none;
    z-index: 55;
}


.navi-icon {
    cursor: pointer;
    float: none;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 15px;
    top: 32px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 20px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
  
    margin-left: -4px;
}

.navi-icon > span {

      background-color: #fff;
    display: block;
    height: 1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}



.navi-icon > span:before, .navi-icon > span:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    transition: all .3s;
    width: 30px;
    right: 0;
}
.navi-icon > span:before {
  -webkit-transform: translateY(-.5em);
          transform: translateY(-.5em);
}

.navi-icon > span:after {
  -webkit-transform: translateY(.5em);
          transform: translateY(.5em);
}



.navi-icon.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* left: 20px; */
         margin-left: -12px;
    margin-top: -18px;
}

.navi-icon.active > span:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navi-icon.active > span:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navi-icon.active span, .navi-icon.active > span:before, .navi-icon.active > span:after {
    background-color: #fff;
    /* width: 58px; */
    width: 30px;
    /* left: 50%; */
    /* left: 20px; */
}



.navi-logo{
  background: url(/images/logo.png) no-repeat;
  background-size:100% auto;
  height: 48px;
  left: 10px;
  position: absolute;
  top: 18px;
  transition: all .4s;
  width: 170px;
  z-index: 24;
}
.ul-wrap {
    right: -540px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #25373e;
    transition: right ease-in .3s;
    padding: 90px 20px;
	z-index: 50;
	
}
.ul-wrap.active {
    right: 0px;
	width:50%;
   
}
.navi{
	display:block;
	min-height:8rem;
	position:relative;
}
.navi ul{
  display: block;
  text-align: center;
  list-style:none;
}

.js .navi ul{
  display: none;
  
  position:relative;
}

.navi .ul-wrap > ul {
  margin: 0;
  display: block;
 text-align:left;
  padding: 0 0 15px;
}

.navi .ul-wrap > ul > li {
  border: 0;
    border-width: 0;
    display: block;
    font-weight: bold;
	position:relative;
	    margin: 0 0 12px;
  
}
.navi .ul-wrap > ul > li:last-child {

	    margin: 0 0 0px;
  
}
.navi .ul-wrap > ul > li:not(:first-child) {
  border-width: 1px 0 0;
}

.navi .ul-wrap > ul > li > a{
  background: none;
  color: #fff;
  display: block;
  padding: 10px 20px 10px 0px;
  text-decoration: none;
  display:inline-block;
  text-transform:uppercase;
  position:relative;
}

.no-touchevents .navi .ul-wrap > ul > li > a:hover,
.no-touchevents .navi .ul-wrap > ul > li > a:focus{
  background: none;
}

.navi .ul-wrap > ul > li.current > a{
  background: none;
  color: #fff;
}
 .navi .ul-wrap > ul > li > a:before{
	 opacity:0;
	  background-position:-79px -99px;
	width: 13px;
	height: 20px;
	
	    position: relative;
    left: 0;
    /* top: 50%; */
    /* margin-top: -10px; */
    display: inline-block;
	transition: margin ease-out .4s;
 }
 .navi .ul-wrap > ul > li.current > a:before{
	
	opacity:1;
	margin:0 15px 0 0;
	
 }
  .navi .ul-wrap > ul > li > a:hover:before,
   .navi .ul-wrap > ul > li > a:focus:before{
	
	opacity:1;
	margin:0 15px 0 0;
	
 }
.navi li ul {
 
  list-style-type: none;
  margin: 0;
  padding: 0 0 0px;
}

.no-touchevents .navi li ul,
.no-js .navi li ul {
  display: none;
}

/*.no-touchevents .navi li:hover ul,
.no-js .navi li:hover ul {
  display: block;
}
*/
.no-touchevents .navi li ul, .no-js .navi li ul {
    display: none;
}

.navi li li {

  font-size: 1.7rem;
  text-align:left;
  padding:0 0px;
}

.navi li li:not(:first-child) {
  border-width: 1px 0 0;
}

.navi li li a {
  display: inline-block;
  padding: 10px ;
  text-decoration: none;
  text-align:left;
  color:#fff;
  text-transform:uppercase;
}

.no-touchevents .navi li li a:hover,
.no-touchevents .navi li li a:focus{
  background: #993415;
}

.navi li li.current > a{
  background: #993415;
  color: #fff;
}
.ul-wrap .txt2 {
    font-size: 1.1rem;
}
a.button.txt2-bld {
    position: absolute;
    bottom: 60px;
}
@media screen and (min-width: 980px){
 
 .navi-icon-wrap {
    position: relative;
  
    width: 80px;
    height: 80px;
   
    right: 0;
    float: right;
	
}
.navi-icon {
 
    width: 40px;
    margin-left: -12px;
}
.navi-icon > span:before,
.navi-icon > span:after {
 
    width: 58px;
    right: 0;
}
.navi-icon.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* left: 20px; */
    margin-left: -16px;
    margin-top: -15px;
}
.navi-icon.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* left: 20px; */
    margin-left: -20px;
}

.scrolled .navi-icon-wrap {
   
    width: 80px;
    height: 80px;
    
}
 .navi-logo {
    height: 76px;
    left: 5%;
    top: 6px;
    width: 236px;
}
  .scrolled .navi-logo{
    height: 100px;
    width: 200px;
  }

.ul-wrap{
	right:-540px;
 	position:fixed;
	top:0;
	bottom:0;
	background:#25373e;
	padding: 200px 60px 0;
	min-width: 540px;
	transition:right ease-in .6s;
}
.navi-icon > span:before {
  -webkit-transform: translateY(-.8em);
          transform: translateY(-.8em);
}

.navi-icon > span:after {
  -webkit-transform: translateY(.8em);
          transform: translateY(.8em);
}


.navi .ul-wrap > ul, .js .navi > ul {
    justify-content: flex-end;
  
    position: relative;
    
    
    padding:0 0 70px;
    text-align: left;
	
}
.navi .ul-wrap.active, .js .navi .ul-wrap.active {
	right:0;
	width:auto;
}
  .navi{
  
    padding: 0;
  }

  .navi .ul-wrap > ul > li,
  .navi .ul-wrap > ul > li:not(:first-child){
  
    display: block;
    vertical-align: bottom;
	font-size:2.6rem;
	font-weight:bold;
	
  }

  .navi .ul-wrap > ul > li > a{
    line-height: 2rem;
    padding: 20px 40px;
    transition: padding .4s;
	color:	#fff;
	text-transform:uppercase;
	
  }

  

  .navi li{
    position: relative;
  }

  .navi li ul{
    min-width: 100%;
    padding: 0;
    position: absolute;
  }

  .navi li li a{
    padding: 10px;
  }
	.ul-wrap .txt1{
		font-size:2.9rem;
	}
	.ul-wrap .txt2{
		font-size:1.4rem;
	}
	a.button.txt2-bld {
    position: relative;
    bottom: 0px;
}
}
@media screen and (min-width: 1100px){
.ul-wrap{
	
	
	padding: 145px 60px 0;
	
}
}

@media screen and (min-width: 1100px){
 
 .navi-icon-wrap {
    position: relative;
  
    width: 120px;
    height: 120px;
   
    right: 0;
    float: right;
	
}
.navi-icon {
 
    width: 40px;
    margin-left: -12px;
}
.navi-icon > span:before,
.navi-icon > span:after {
 
    width: 58px;
    right: 0;
}
.navi-icon.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* left: 20px; */
    margin-left: -20px;
}

.scrolled .navi-icon-wrap {
   
    width: 100px;
    height: 100px;
    
}
  .navi-logo{
    height: 76px;
    left: 12%;
    top: 15px;
    width: 270px;
  }

  .scrolled .navi-logo{
    height: 69px;
    width: 200px;
  }

.ul-wrap{
	right:-540px;
 	position:fixed;
	top:0;
	bottom:0;
	background:#25373e;
	padding: 200px 60px 0;
	min-width: 540px;
	transition:right ease-in .6s;
}


.navi .ul-wrap > ul, .js .navi > ul {
    justify-content: flex-end;
  
    position: relative;
    
    
    padding:0 0 70px;
    text-align: left;
	
}
.navi .ul-wrap.active, .js .navi .ul-wrap.active {
	right:0;
	width:auto;
}
  .navi{
  
    padding: 0;
  }

  .navi .ul-wrap > ul > li,
  .navi .ul-wrap > ul > li:not(:first-child){
  
    display: block;
    vertical-align: bottom;
	font-size:2.6rem;
	font-weight:bold;
	
  }

  .navi .ul-wrap > ul > li > a{
    line-height: 2rem;
    padding: 20px 0px;
    transition: padding .4s;
	color:	#fff;
	text-transform:uppercase;
	
  }

 

  .navi li{
    position: relative;
  }

  .navi li ul{
    min-width: 100%;
    padding: 0;
    position: absolute;
  }

  .navi li li a{
    padding: 10px 40px 10px 20px;
  }
	.ul-wrap .txt1{
		font-size:2.9rem;
	}
	.ul-wrap .txt2{
		font-size:1.4rem;
	}
}

@media screen and (max-width: 766px){
	.ul-wrap.active {
    right: 0px;
    width: 94%;
}
	.navi .ul-wrap > ul > li > a:before {
   background-position: -94px -99px;
    width: 9px;
    height: 14px;
    /* top: 50%; */
    /* margin-top: -10px; */
    vertical-align: middle;
    top: -2px;
}
}
/*
 * Sub sub navi
 */
/*.navi li li ul {
  border: 0;
  left: 100%;
  min-width: 180px;
  top: 0;
}

.no-touchevents .navi li:hover li ul,
.no-js .navi li:hover li ul {
  display: none;
}

.no-touchevents .navi li:hover li:hover ul,
.no-js .navi li:hover li:hover ul {
  display: block;
}

*/

@media screen and (max-width: 760px){
a.button.txt2-bld {
    position: absolute;
    bottom: auto;
    top: 30px;
}
}
@media screen and (max-width: 350px){
.navi-logo {
    
    width: 144px;
}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){  
  .navi-logo {
    background: url(/images/logo-r.png) no-repeat;
    background-size: 100% auto;
  }
  
}
