@media print{

  body{
    font-size: 100%;
  }
  
  *{
    background: transparent !important;
    color: #000 !important;
    -ms-filter: none !important;
        filter: none !important;
    text-shadow: none !important;
  }
  
  a,
  a:visited{
    color: #444 !important;
    text-decoration: underline;
  }
  
  pre,
  blockquote{
    page-break-inside: avoid;
  }
  
  thead{
    display: table-header-group;
  }
  
  tr,
  img{
    page-break-inside: avoid;
  }
  
  @page{
    margin: 0.5cm;
  }
  
  p,
  h2,
  h3{
    orphans: 3;
    widows: 3;
  }
  
  h2,
  h3{
    page-break-after: avoid;
  }
  
  .navi,
  aside,
  .sidebar,
  .footer-wrapper,
  .copyright-wrapper{
    display: none !important;
  }
  
}
