/*
 * General
 */
.tool-heading{
  font-size: 2.4rem;
  margin: 0 0 .5em;
}

.tool-text{
  margin: 0 0 1em;
}

/*
 * Issuu
 */
.issuuembed{
  max-width: 100%;
}

/*
 * PicGallery3
 */
.tool-gallery-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tool-gallery-list-item{
  margin: 0 0 10px;
  max-width: 49%;
}

.linkmanagement-category {
    margin: 0 0 50px;
	border-bottom:1px solid #616161;
}

.linkmanagement-category-title {
	margin:0 0 30px;
}
.linkmanagement-link-title,
linkmanagement-link-text {
    display: block;
    width: 100%;
}
.linkmanagement-link {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}
.linkmanagement-link-pic {
    
    margin: 0 auto 20px;
}
  .tool-filedownload-list-item-icon{
    width:70px;
  }

  .tool-filedownload-list-item-content{
    display: block;
    margin: 0 0 0 90px;
  }

  .tool-filedownload-list-item-filesize{
    float: right;
    margin: 10px 20px 1em 0;
  }
  
  .link.subcolumns {
    display: flex;
}

.link.subcolumns .infos{
  margin-left: 20px;
}
ul.flex-list.link-list {
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-align-items: center;
    align-items: center;
}

@media screen and (min-width: 520px){
  .tool-gallery-list {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tool-gallery-list-item {
    max-width: 25%;
    display: inline-block;
    margin: 0 2% 2% 0;
}
  
}

/*
 * FileDownload
 */
 .tool-filedownload{
  display: block;
}

.tool-filedownload-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tool-filedownload-list-item{
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

.tool-filedownload-list-item:nth-child(2n+1){
  background: #eee;
}

.tool-filedownload-list-item-icon{
  float: left;
  width: 50px;
}

.tool-filedownload-list-item-content{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 70px;
}

.tool-filedownload-list-item-text{
  margin: 0;
}

.tool-filedownload-list-item-filesize{
  order: 2;
}

@media screen and (min-width: 640px){
.linkmanagement-category {
    margin: 0 0 50px;
	border-bottom:1px solid #616161;
}

.linkmanagement-category-title {
	margin:0 0 30px;
}
.linkmanagement-link {
    display: flex;
    flex-wrap: wrap;
}
.linkmanagement-link-pic {
    margin: 0 50px 30px 0;
}
.linkmanagement-link-title, linkmanagement-link-text {
    display: inline-flex;
    width: auto;
}
  .tool-filedownload-list-item-icon{
    width:70px;
  }

  .tool-filedownload-list-item-content{
    display: block;
    margin: 0 0 0 90px;
  }

  .tool-filedownload-list-item-filesize{
    float: right;
    margin: 10px 20px 1em 0;
  }
  
  .link.subcolumns {
    display: flex;
}

.link.subcolumns .infos{
  margin-left: 20px;
}
ul.flex-list.link-list {
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-align-items: center;
    align-items: center;
}
ul.flex-list.link-list li{
	margin:0 0 20px
}
ul.flex-list.link-list.logo-col-2 li{
	width: 47%;
}
ul.flex-list.link-list.logo-col-3 li{
	width: 31%;
}
ul.flex-list.link-list.logo-col-4 li{
	width: 23%;
}

ul.flex-list.link-list.logo-col-5 li{
	width:18%;
}
li.linkmanagement-link-pic img {
    display: block;
    margin: 0 auto;
}
  
}