/*
 * @todo add classes for all headings (h2, h3) so we do not rely on markup
 */

/*
 * Events box
 */
.box-events{
}

.box-events .box-heading{
}

.box-events .box-content{
}

.box-events .box-item{
}

.box-events .box-date{
  font-weight: bold;
}

.box-events .box-time{
  float: left;
  width: 70px;
}

.box-events .box-link{
  margin: 0 0 1em 80px;
}

.box-events .box-more{
}


/*
 * Events form
 */
.events-form{
  background: #fff;
  border: 1px solid #acacac;
  margin: 0 0 20px;
  padding: 10px 28px 14px;
}


.events-form-field {
    float: none;
    margin: 0 0px 10px 0;
    text-align: left;
}
.events-form-field label{
  display: block;
  margin: 0;
  padding: 0;
}

/*.events-form-field input{
  font-size: 1.2em;
}

.events-form-field select{
  padding: 2px;
}*/

.events-form-field-s input{
}

.events-form-field.events-form-field-from input,
.events-form-field.events-form-field-to input{
  background-image: url(https://img.werbewind.com/calendar/cal01.gif)  ;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  width: 100%;
}

.events-form button{
  /*font-size: 1.5rem;*/
  margin: 17px 0 0;
  padding: 4px 10px;
}

.events-searched-for{
  background: #fff;
  border: 1px solid #acacac;
  margin-top: 10px;
  padding: 10px;
}

.events-searched-for-value{
  font-weight: bold;
}

.events-searched-for-value{
  font-style: italic;
}


/*
 * Events pagination
 */
.events-pages{
  margin: 0 0 1em;
}

.events-pages a,
.events-pages span{
  background: #fff;
  border: 1px solid #acacac;
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 3px;
  padding: 2px 0;
  text-align: center;
  width: 16px;
}

.events-pages .events-pages-current{
  font-weight: bold;
}


/*
 * Events overview
 */
.events h2{
  border-bottom: 1px solid #acacac;
  padding: 20px 0 3px;
}

.events-event{
  border-bottom: 1px solid #acacac;
  margin: 0 0 20px;
  padding: 0 0 20px;
}


.events-event-pic {
    float: none;
    width: auto;
}

.events-event-pic img {
    height: auto;
    width: auto;
    margin: 0 auto;
   
}

.events h3,
.events-event-info,
.events-warning,
.events-teaser,
.events-more{
  margin-left: 0px;
}

.events-event-info{
  font-style: italic;
  margin-bottom: 1em;
}

.events-warning{
  color: #b20000;
  font-weight: bold;
}


/*
 * Event details
 */
.event {
    padding: 0 0 70px;
}
.event-back{
  float: none;
}

.event-title{
}

.event-subtitle{
  font-style: italic;
  padding:30px 0 0 
}

.event-content{
}

.event-pic{
  float: none;
  margin: 0 0 20px 20px;
  width: auto;
}
.event-content {
    padding: 20px 0 50px;
}
.event-pic img{
  border: 1px solid #666;
}

.event-pic figcaption{
  font-style: italic;
}

.event-thumbs img{
  height: auto;
  margin: 4px 0;
  width: 50px;
}

.event-thumbs a{
  float: left;
  margin: 0 7px 7px 0;
}

.event-thumbs img.current{
  border-color: #000;
}

.event-warning{
  color: #b20000;
  font-weight: bold;
}

.event-text{
}

.event h2{
}

.event-info{
}

.event-location{
  border-right: 0px solid #666;
  float: none;
  padding: 0 0px 0 0;
  margin: 0 0px 0 0;
}

@media screen and (min-width: 980px){
.events-form-field{
  float: left;
  margin: 0 30px 0 0;
}
.event-subtitle{
 
  padding:30px 0 0 
}

.events-form-field.events-form-field-from input, .events-form-field.events-form-field-to input {
    background-image: url(https://img.werbewind.com/calendar/cal01.gif);
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    width: 210px;
}
.events-event-pic{
  float: left;
  width: 100px;
}
.events h3,
.events-event-info,
.events-warning,
.events-teaser,
.events-more{
  margin-left: 120px;
}
.event {
    padding: 0 0 0px;
}
.event-back{
  float: right;
}

.event-pic{
  float: right;
  margin: 0 0 20px 20px;
  width: 250px;
}
.event-content {
    padding: 50px 0;
}
.event-pic img{
  border: 1px solid #666;
}
.event-location{
  border-right: 1px solid #666;
  float: left;
  padding: 0 30px 0 0;
  margin: 0 30px 0 0;
}
}