/*
 * lightGallery changes for Werbewind
 */

.picgallery-xxl-alternative{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.picgallery-xxl-alternative li{
  margin: 0 0 2em;
  padding: 0;
}

.picgallery-xxl-alternative figcaption{
  padding: .2em;
  text-align: center;
}

.picgallery-xxl-alternative img{
  width: 100%;
}

.lg-toolbar{
  background: transparent;
}

.lg-outer .lg-img-wrap{
  padding: 0 50px;
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object{
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

@media screen and (min-width: 651px) {

  .lg-sub-html{
    background: rgba(0, 0, 0, 0.5) url(/images/logo.png) no-repeat;
    background-size: 120px;
    background-position: 10px 5px;
    bottom: inherit !important;
    left: 50%;
    margin-left: 2px;
    min-height: 54px;
    min-width: 300px;
    padding-right: 10px;
    text-align: right;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .8s !important;
            transition: all .8s !important;
    z-index: 1070;
  }
  
}

@media screen and (max-width: 680px) {
  
	.lg-sub-html{
    bottom: 0 !important;
    left: 0;
    right: 0;
    top: inherit !important;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: auto !important;
  }
  
	.lg-thumb-outer, .lg-actions{
    display: none;
  }
  
	.lg-outer .lg-img-wrap{
    padding: 0;
  }
  
}
