.newsboxes-wrapper{
 
  text-align: center;
  position:relative;
  z-index:20;
}

.newsboxes{
  margin: 0 auto;
}

.newsbox{
  background: #25373e;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  color:#fff;
}

.newsbox + .newsbox{
  margin-top: 30px;
}

.newsbox-pic{
  margin: 0 0 0px;
  width:100%;
  display:block;
  order:2;
}

.newsbox-heading {
    font-size: 6.5rem;
    margin: 0 0 30px;
        line-height: .7;
	letter-spacing:-3px;
}
.newsbox-text {
    padding: 0 0 50px;
    text-align: left;
}

.newsbox-content {
    margin: 0 0;
    order: 1;
    display: block;
    padding: 50px 20px 90px;
	position:relative;
}
.newsbox-content:before {
   content:'';
   background:url(/images/mobile/pinsel/pinsel-weiss-news-980.png) no-repeat -13px;
   position: absolute;
   height:89px;
   width:100%;
   right:0;
   bottom:-28px;
   
}

@media screen and (min-width: 980px){

 .newsboxes {
    display: block;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}
 
  .newsbox {
    background: #25373e;
    display: flex;
    flex: 1;
    margin: 0 10px;
    /* max-width: 300px; */
    position: relative;
    text-align: left;
    vertical-align: top;
    width: auto;
    margin: 0;
    max-width: 100%;
    color: #fff;
  
}
.newsbox:after {
    content: '';
    background: url(/images/pinsel/pinsel-weiss-news.png) no-repeat;
    position: absolute;
    right: 0;
    height: 122px;
    width: 100%;
    bottom: -41px;
}
.newsbox-pic {
    margin: 0 0 10px;
    width: 60%;
    display: block;
    margin: 0;
	order:1;
}
.newsbox-content {
    padding: 15px 20px 0px;
    width: 40%;
    margin: 0 0 0px;
    order: 2;
}
.newsbox-content:before {
   display:none;
}
.newsbox-heading {
    font-size: 4.5rem;
    margin: 0 0 20px;
}
.newsbox-text {
    padding: 0 0 20px;
    text-align: left;
    font-size: 1.5rem;
}
  .newsbox-more{
    
    position: relative;
  }

}
@media screen and (min-width: 1100px){

 .newsboxes {
    display: block;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}
 
  .newsbox {
    background: #25373e;
    display: flex;
    flex: 1;
    margin: 0 10px;
    /* max-width: 300px; */
    position: relative;
    text-align: left;
    vertical-align: top;
    width: auto;
    margin: 0;
    max-width: 100%;
    color: #fff;
  
}
 .newsbox:after {
	  content:'';
	  background:url(/images/pinsel/pinsel-weiss-news.png) no-repeat;
	  position:absolute;
	  right:0;
	  height:122px;
	  width:100%;
	  
	  bottom:-4px;
  }
.newsbox-pic {
    margin: 0 0 10px;
    width: 50%;
    display: block;
    margin: 0;
	order:1;
}
 .newsbox-content {
   
    padding: 120px 0 0;
    width: 50%;
	   max-width: 600px;
    margin: 0 auto;
	
	order:2;
}
.newsbox-text {
    padding: 0 0 60px;
    text-align: left;
    font-size: 1.7rem;
}
.newsbox-content:before {
   display:none;
}
.newsbox-heading{
  font-size: 6.5rem;
  margin: 0 0 50px;
  
}
  .newsbox-more{
    
    position: relative;
  }

}
@media screen and (min-width: 1150px) and (max-width: 1500px){
	.newsbox-content {
    padding: 80px 30px 0;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    order: 2;
}
	
}