/* CSS Document */
.parallex-container {
    width: 96%;
    display: block;
	background:url(/images/parallax.jpg) no-repeat;

	background-size:cover;
	    margin: 60px auto 70px;
}
.parallex-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
	display:block;
}
.parallex-block {
    width: 100%;
    justify-content: center;
}
a.parallex-link {
    display: block;
    padding: 80px 0;
    width: 99%;
    margin: 0 auto;
    text-align: center;
	text-decoration: none;
}
.no-touchevents a.parallex-link:hover {
   background:rgba(255,255,255,.11)
}
.no-touchevents .parallex-pinsel {
   background:url(/images/pinsel/pinsel-orange-content.png) no-repeat;
   position:absolute;
   left:0;
   top:-85px;
   width:100%;
   height:135px;
}
.blk1 a.parallex-link {

    padding-bottom: 0px ;
   
}
.blk3 a.parallex-link {
   
    padding-top:0;
  
}
.parallex-icon {
   
    position: relative;
    display: block;
    margin: 0 auto 30px;
	min-height:229px;
}
.parallex-icon:before {
    background-position: 0 -164px;
    width: 204px;
    height: 201px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.blk2 .parallex-icon:before{
	background-position:-206px -164px;
	width: 217px;
	height: 201px;
}
.blk3 .parallex-icon:before{
	background-position:-425px -164px;
	width: 203px;
	height: 228px;
}
span.parallex-text {
    text-transform: unset;
    text-transform: uppercase;
    
    font-weight: 900;
    color: #ff;
    color: #fff;
    font-size: 1.9rem;
	letter-spacing:2px;
}


@media screen and (min-width: 980px){
.parallex-container {
    width: 100%;
    display: block;
	background:url(/images/parallax.jpg) no-repeat;
	background-attachment:fixed;
	background-size:cover;
	    margin: 0px auto 0px;
}
.parallex-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
	display:flex;
}
.parallex-block {
    width: 33.33%;
    justify-content: center;
}
a.parallex-link {
    display: block;
    padding: 126px 0;
    width: 99%;
    margin: 0 auto;
    text-align: center;
	text-decoration: none;
}
.blk3 a.parallex-link {
    padding-top: 126px;
}
.blk1 a.parallex-link {
    padding-bottom: 126px;
}
.parallex-icon {
   
    position: relative;
    display: block;
    margin: 0 auto 30px;
	min-height:229px;
}
.parallex-icon:before {
    background-position: 0 -164px;
    width: 204px;
    height: 201px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.blk2 .parallex-icon:before{
	background-position:-206px -164px;
	width: 217px;
	height: 201px;
}
.blk3 .parallex-icon:before{
	background-position:-425px -164px;
	width: 203px;
	height: 228px;
}
span.parallex-text {
    text-transform: unset;
    text-transform: uppercase;
    
    font-weight: 900;
    color: #ff;
    color: #fff;
    font-size: 1.6rem;
}
}
@media screen and (min-width: 1100px){
span.parallex-text {
    text-transform: unset;
    text-transform: uppercase;
    
    font-weight: 900;
    color: #ff;
    color: #fff;
    font-size: 1.9rem;
}
}
@media screen and (max-width: 480px){
	.parallex-container {
    width: 96%;
    display: block;
    background: url(/images/mobile/parallax_480.jpg) no-repeat;
    background-size: cover;
    margin: 60px auto 70px;
}
}