.rednews2-articles-article{

  border-bottom : 1px solid #ccc;

  padding       : 1em 1em 0;

  transition    : background .2s linear;

}

.rednews2-articles-article:hover{

  background : #F4F4F4;

}

.rednews2-articles-article h2{

  margin  : 0 0 .3em;

  padding : 0;

}

.rednews2-articles-article h2 a{

  text-decoration : none;

}

.rednews2-articles-article h2 a:hover,

.rednews2-articles-article h2 a:focus{

  text-decoration : underline;

}

.rednews2-articles-article figure{

  float  : left;

  margin : 0 15px 1em 0;

  width  : 250px;

}

.rednews2-articles-article figure img{

  width  : 100%;

  height : auto;

}



.rednews2-articles-article-has-pic h2,

.rednews2-articles-article-has-pic p{

  margin-left : 270px;

}



.rednews2-back{

}

.rednews2-back:before{

  content    : '« ';

}



.rednews2-article-pic-wrapper a{

  display  : block;

  position : relative;

}



.rednews2-article-block{

  margin : 0 0 1em;

}

.rednews2-article figure img{

  height : auto;

  margin : 0 0 1em;

  width  : 100%;

}

.no-js .rednews2-article figure img{

  display : none;

}

.no-js .rednews2-article figure noscript img{

  display : block;

}



.rednews2-article-layout-pic-right a[data-lightbox]{

  float  : right;

  margin : 0 0 0 4%;

  width  : 48%;

}

.rednews2-article-layout-pic-right figure{

  float  : right;

  margin : 0 0 0 4%;

  width  : 48%;

}

.rednews2-article-layout-pic-right figure img{

  display : block;

  margin  : 0;

}

.rednews2-article-layout-pic-right a[data-lightbox] figure{

  float  : none;

  margin : 0;

  width  : 100%;

}



.rednews2-article-layout-pic-left a[data-lightbox]{

  float  : left;

  margin : 0 4% 0 0;

  width  : 48%;

}

.rednews2-article-layout-pic-left figure{

  float  : left;

  margin : 0 4% 0 0;

  width  : 48%;

}

.rednews2-article-layout-pic-left figure img{

  display : block;

  margin  : 0;

}

.rednews2-article-layout-pic-left a[data-lightbox] figure{

  float  : none;

  margin : 0;

  width  : 100%;

}



.rednews2-article-layout-pics .rednews2-article-pic-2,

.rednews2-article-txt-2{

  float  : right;

  margin : 0;

  width  : 48%;

}

.rednews2-article-layout-pics .rednews2-article-pic-1,

.rednews2-article-txt-1{

  float  : left;

  margin : 0;

  width  : 48%;

}

.rednews2-article-layout-video{

  text-align : center;

}

.rednews2-article-layout-video iframe{

  margin    : 0 auto;

  max-width : 100%;

}

.rednews2-article-readmore:before{

  content : '» ';

}

