/* CSS Document */
.solgan-container {
    width: 100%;
    display: block;
	position:relative;
}

.solgan-wrap {
    width: 100%;
    padding: 50px 0 30px;
    text-align: center;
}
.solgan-text {
    width: 100%;
        line-height: 1.05;
    font-size: 5rem;
    line-height: 1;
    margin: 0 auto;
	color:#993415;
	letter-spacing:-3px;
	    max-width: 250px;
    margin: 0 auto;
}
.solgan-autor {
    color: #25373e;
    text-transform: uppercase;
    font-size: 2rem;
    
     padding: 40px 0 50px;
	letter-spacing:.8px;
}
.solgan-icon {
    background-position: -98px 0;
    width: 60px;
    height: 97px;
    position: relative;
    display: block;
    margin: 0 auto 60px;
}
.no-touchevents .solgan-pinsel {
   background:url(/images/pinsel/pinsel-blau-content.png) no-repeat;
   position:absolute;
   left: -40px;
    bottom: 130px;
    width: 100%;
    height: 175px;
}
.solgan-btn {
    display: none;
}
@media screen and (min-width: 980px){
	.solgan-wrap {
  
    padding: 90px 0;
  
}
	.solgan-text {
	max-width: 720px;
	}
	.solgan-text {
    width: 100%;
    
    font-size: 8rem;
    line-height: 1.2;
    margin: 0 auto;
	color:#993415;
}
.solgan-autor {
    color: #25373e;
    text-transform: uppercase;
    font-size: 2rem;
     padding: 40px 0 50px;
}
.solgan-icon {
    background-position: -98px 0;
    width: 60px;
    height: 97px;
    position: relative;
    display: block;
    margin: 0 auto 60px;
}
.solgan-btn {
    display: block;
}
}